@import './variables.scss';
@import './mixins/mediaqueries.scss';

// !VA Branch hamburgerMenu01
// !VA https://codepen.io/mutedblues/pen/MmPNPG


.header {
  position: relative;
  
}





// !VA 2024
// !VA LOGO -----------------
.logo {
  @include mphone {
    width: 80px;
    margin: .625rem;
  }
  @include lphone {
    width: 80px;
    // margin: .75rem;
  }
  @include tablet {
    width: 90px;
    margin: 1rem 0 1rem 1.25rem;
  }
  @include desktop {
    // !VA 2024
    align-items: flex-start;
    // width: 700px;
    width: auto;
    width: 140px;
    margin: 0 0 0 3rem;
    position: relative;
    z-index: 100;
  }
  @include ldesktop {
    width: 120px;
    // margin: 1.5rem 0 2rem 2.5rem;
  }
  // !VA 2024
  // margin: .25rem 0 0 .75rem;
  // !VA 2024
  position: absolute; 
  top: 0;
  margin: .25rem 0 0 .25rem;
  width: 110px;
  z-index: 100;
}

// !VA NAV
.nav {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  // !VA 
  color: $dark_text_color;
  // !VA 
  top: 0;
  // background: rgba(0, 0, 255, .3) !important; //devblue
}

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  // background: rgba(255, 0, 0, .3) !important; //devred
}


.nav .menu_icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav .menu_icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: absolute;
  transition: background .2s ease-out;
  width: 18px;
}

.nav .menu_icon .navicon:before,
.nav .menu_icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu_icon .navicon:before {
  top: 5px;
}

.nav .menu_icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu_btn {
  display: none;
}

.nav .menu_btn:checked ~ .menu {
  max-height: 240px;
}

.nav .menu_btn:checked ~ .menu_icon .navicon {
  background: transparent;
}

.nav .menu_btn:checked ~ .menu_icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu_btn:checked ~ .menu_icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:before,
.nav .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:after {
  top: 0;
}





.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.nav li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu_icon {
    display: none;
  }
}

