@import './variables.scss';
@import './mixins/mediaqueries.scss';

.header {
  @include mphone {
   height: 104px; 
   box-shadow: 1px -2px 9px 4px rgba(0,0,0,0.32) inset;

  }
  @include lphone {
    height: 120px; 
    

  }
  display: flex;
  height: 94px;
  // !VA Bottom gradient
  // background-size: 100% 100%;
  // background-position: 0px 0px;
  // background-image: linear-gradient(0deg, rgba(0, 0, 0, .3) 1%, rgba(0, 0, 0, 0) 17%);
  // !VA Box shadow mostly only on bottom, probably better than gradient.
  box-shadow: 1px -2px 8px 3px rgba(0,0,0,0.32) inset;
}


// !VA BRICKS
// !VA 2024.04.08 Replacing header_img_box with HeaderBricks from CBE
// !VA Start HeaderBricks styles
// -------------------------------------------------------------------
.bricks_container {
  @include mphone {
    // VA!
    // width: 375px;
    height: 130px; 
  }
  @include lphone {
    // VA!
    // width: 414px;
    height: 130px;
  }
  @include tablet {
    // width: 2058px;
    height: 140px;
  }
  @include desktop {
    // VA! 2024
    height: 140px;
  }
  @include ldesktop {
    // !VA 2023.12.05 Trying to get rid of the vertical scrollbar
    height: 190px;
  }
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 95px; 
  overflow: hidden; 
  background: $primary_accent_color;
  // !VA 2024
  background: $secondary_color;
  background: transparent;
  opacity: 1;
  // !VA I don't know what I did here, but the z-index works now and the bricks don't overlay the 
  z-index: 1;
}

// !VA 2023.12.05 This was never implemented...
.bricks_slider {
  display: block;
  height: 100%;
  // z-index: -1;

  // !VA 2024 
  opacity: 1;
  z-index: 6;
  }


.bricks_slider .bricks {
  @include tablet {
    animation: moveSlideshow 360s linear infinite;
  }
  @include desktop {
    animation: desktopMoveSlideshow 240s linear infinite;
  }
  @include ldesktop {
    animation: lDesktopMoveSlideshow 240s linear infinite;
  }
  display: flex;
  justify-content: flex-start;
  position: absolute;
  height: auto;
  height: 100%;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 240s linear infinite;
  // !VA 2024
  opacity: .4;
  // background: $secondary_color;
  z-index: 7;
}

// !VA Stop animation on hover
.bricks:hover, .bricks:focus {
  cursor: pointer;
  animation-play-state: paused;
}

@keyframes moveSlideshow {
  100% { 
    // !VA Initial from the demo, see links in OneNote CSS notebook
    // transform: translateX(-66.6666%);  
    transform: translateX(-80.9%);  
  }
}

@keyframes desktopMoveSlideshow {
  100% { 
    transform: translateX(-52.2%);  
  }
}

@keyframes lDesktopMoveSlideshow {
  100% { 
    transform: translateX(-31%);  
  }
}

// !VA 2023.12.02 brick_img is in the Brick component
.brick_img {
  position: relative;
  width: auto;
  // !VA Height is defined in bricks_container
  height: 100%;
  // !VA Exposes the primary_accent_color background of the parent
  padding: 2px .125rem 2px 0;
  z-index: -1;
}

.ldesktop_brick_img {
  display: none;
}






// !VA NAV Section
// -------------
// !VA 2024 There's a whole thing with the highlighting the active route that doesn't work now with the new responsive menu

.nav_container {
  margin: 1rem;
  z-index: 100;
}

.nav_menu_items {
  position: absolute;
  list-style: none;
  margin: 0; 
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  // background: rgba(0, 0, 255, .3) !important; //devblue
  // !VA
    z-index: 200;
  
}

.nav_menu_items a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 2 em;
}

.checkbox{
  opacity: 0;
}

@media screen and (max-width: 768px) {
  // !VA These are the menu items expanded
  .menu_link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  .menu_link:hover {
    color: #6a7;
  }
  
  // !VA This appears to be the hamburger icon ONLY
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: fixed; /*stops scroll on mobile*/
    // !VA 
    top: .75rem;
    right: .75rem;
    
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
    background: transparent;
    // background: black;
  }

  .checkbox {
    opacity: 1;
  }

  // !VA Makes the input element invisible. THe invisible checkbox MUST directly overlay the visible open and close boxes
  .nav_menu .checkbox {
    // !VA 
    top: -5px;
    right: 0;
    width: 3em;
    height: 3em;
    position: absolute;
    cursor: pointer;
    opacity: 0;

    z-index: 2; 
    -webkit-touch-callout: none;
    overflow: hidden;
  }
  
  // !VA These are the actual lines that make up the hamburger icons and the X. 
  .nav_menu .menu_span { /*open close toggle*/
    // !VA The length of each of the lines that comprises the burger icon
      width: 2.5em;
      // !VA The thickness of each of the lines that comprises the burger icon and the X
      height: .313em; 
      // !VA The distance between the lines of the burger icon
      margin-bottom: .575em; 
      position: relative;
      background: $dark_text_color;
      // !VA This appears to be tthe rounding of the lines.
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      // !VA This is the animation. Doesn't affect the shape of the burger or the X
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  

  .nav_menu .menu_span:first-child {
    transform-origin: 0% 0%;
  }
  
  .nav_menu .menu_span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  // !VA The BACKSLASH in the X after transform
  .nav_menu .checkbox:checked ~ .menu_span {
    opacity: 1;
    // !VA The angle of the SLASH in the X
    // !VA The first value is the X axis distance from top left at 45 deg rotation. The second value is the Y axis distance from top left at 45 deg rotation.  
    transform: rotate(45deg) translate(-2px, -1px);
    transform: rotate(45deg) translate(2px, -2px);
    background: black;
  }
  
  // !VA The middle link in the burger - invisible in the X
  .nav_menu .checkbox:checked ~ .menu_span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  // !VA The SLASH in the X after transform
  // !VA The first value is the X axis distance from top left at 45 deg rotation. The second value is the Y axis distance from top left at 45 deg rotation.  
  .nav_menu .checkbox:checked ~ .menu_span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
    transform: rotate(-45deg) translate(5px, -1px);
  }
  
  .nav_menu_items {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start; 
    // !VA
    top: 93px;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: white;
    // !VA
    // list-style: none;
    list-style-type: none;
    transform-origin: 0% 0%;
    // !VA 
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);


  }

  .nav_menu_items a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: black;
      font-size: 1.3em;
  }
  
  .nav_menu .checkbox:checked ~ ul {
    // !VA Turning off the transform prevents it from sliding in...not sure why
    transform: none;
  }

}


// !VA LOGO
// --------

.logo {
  @include mphone {
    width: 105px;
    margin: .625rem;
  }
  @include lphone {
    width: 116px;
    margin: .75rem;
  }
  @include tablet {
    width: 90px;
    margin: 1rem 0 1rem 1.25rem;
  }
  @include desktop {
    // !VA 2024
    align-items: flex-start;
    // width: 700px;
    width: auto;
    width: 140px;
    margin: 0 0 0 3rem;
    position: relative;
    z-index: 100;
  }
  @include ldesktop {
    width: 120px;
    // margin: 1.5rem 0 2rem 2.5rem;
  }
  // !VA 2024
  // display: flex;
  // align-items: center;
  // height: auto;
  margin: .5rem 0 0 .5rem;
  // width: 4.5rem;
  // !VA 2024
  width: 110px;
  position: absolute; 
  z-index: 100;
  
}


// !VA SLUG Section
// -----------
.header_slug {
  @include mphone {
    top: 70px;
  }
  @include lphone {
    top: 86px;
  
  }
  @include desktop {
    // margin: .036rem 0 .5rem 3rem;
    // padding: 0 0 .25rem 0;
    // border-bottom: 1px solid gray;
    top: 0;
    width: 100%;
    // background: $home_bg_color;
    background: rgba(0, 0, 0, .5);
  }
  position: absolute;
  display: block;
  top: 68px;
  left: 0;
  width: 100%;
}

.header_slug_text {
  @include mphone {
    padding-bottom: .5rem;
    font-size: $mphoneSubheadFontSize;
    line-height: $mphoneSubheadLineHeight;
  }
  @include lphone {
    padding-bottom: .5rem;
    font-size: $lphoneSubheadFontSize;
    line-height: $lphoneSubheadLineHeight;
  }
  @include desktop {
    padding: .5rem 0;
    
    color: $light_text_color;
    font-size: 1.25rem;
    line-height: 1.125rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    opacity: .8;
    // font-style: italic;
  }
  color: $dark_text_color;
  font-family: $secondary_font;
  font-size: $rootSubheadFontSize;
  line-height: $rootSubheadLineHeight;
  font-weight: 500;
  text-align: center;

}